.slides section {
    background: url(../img/logo.png) no-repeat right bottom;
}

.default .reveal .state-background {
  background: rgba( 0,0,0,0 );
}

.alert .reveal .state-background {
  background: rgba( 200,50,30,.6 );
}

.blackout .reveal .state-background {
  background: rgba( 0,0,0,.6 );
}

.soothe .reveal .state-background {
  background: rgba( 50,200,90,.4 );
}
